<section>
  <h1>Resources</h1>
  <p>
  	<a href="https://moodle.umass.edu/course/view.php?id=13334">Moodle page</a><br>
  	<a href="http://www.jimpryor.net">Jim Pryor</a>: <a href="http://www.jimpryor.net/teaching/guidelines/writing.html" title="Guidelines on Writing a Philosophy Paper">Writing a Philosophy Paper</a><br>
  	<a href="https://sites.google.com/site/helenadebres/">Helena De Bres</a>: <a href="http://web.mit.edu/philos/www/guides/pinkguide.pdf" title="The Pink Guide to Taking Philosophy Classes"><em>The Pink Guide</em></a>
</section>