<section>
  <h1>Teaching Assistants</h1>
  <p><a href="mailto:&#x6A;&#x64;&#x65;&#x61;&#x6C;&#x79;&#x40;&#x70;&#x68;&#x69;&#x6C;&#x6F;&#x73;&#x2E;&#x75;&#x6D;&#x61;&#x73;&#x73;&#x2E;&#x65;&#x64;&#x75;">Justin Dealy</a> <br>
  	 Sections: 01BA, 01BB, 01BC <br>
	 Office hours: MW 1.15-2.15<br>
	 Office: <a href="http://www.umass.edu/visitorsctr/downloads/campusmap.pdf" title="UMass Amherst Campus Map">Bartlett 351</a>
	</p>
  <p><a href="mailto:&#x72;&#x67;&#x72;&#x75;&#x62;&#x65;&#x72;&#x40;&#x70;&#x68;&#x69;&#x6C;&#x6F;&#x73;&#x2E;&#x75;&#x6D;&#x61;&#x73;&#x73;&#x2E;&#x65;&#x64;&#x75;">Robert Gruber</a> <br>
	 Sections: 01AA, 01AB, 01AC <br>  	
	 Office hours: M 1:15-3:35 <br>
	 Office: <a href="http://www.umass.edu/visitorsctr/downloads/campusmap.pdf" title="UMass Amherst Campus Map">Bartlett 368</a>
	</p>
	<p><a href="mailto:&#x74;&#x6D;&#x61;&#x67;&#x61;&#x6C;&#x6F;&#x74;&#x40;&#x70;&#x68;&#x69;&#x6C;&#x6F;&#x73;&#x2E;&#x75;&#x6D;&#x61;&#x73;&#x73;&#x2E;&#x65;&#x64;&#x75;">Tricia Magalotti</a> <br>
	 Sections: 01AD, 01AE, 01AF <br>	
	 Office hours: M 11-12, W 14-15 <br>
	 Office: <a href="http://www.umass.edu/visitorsctr/downloads/campusmap.pdf" title="UMass Amherst Campus Map">Bartlett 368</a>
	</p>
</section>

