<section>
  <h1>Teaching Assistants</h1>
  <p><a href="http://www.umass.edu/philosophy/grad_students/grad-students-main.htm">Justin Dealy</a> <br>
	 Office hours: TBD <br>
	 Office: <a href="http://www.umass.edu/visitorsctr/downloads/campusmap.pdf" title="UMass Amherst Campus Map">Bartlett 363</a>
	</p>
  <p><a href="http://www.umass.edu/philosophy/grad_students/grad-students-main.htm">Robert Gruber</a> <br>
	 Office hours: TBD <br>
	 Office: <a href="http://www.umass.edu/visitorsctr/downloads/campusmap.pdf" title="UMass Amherst Campus Map">Bartlett 363</a>
	</p>
	<p><a href="http://www.umass.edu/philosophy/grad_students/grad-students-main.htm">Justin Dealy</a> <br>
	 Office hours: TBD <br>
	 Office: <a href="http://www.umass.edu/visitorsctr/downloads/campusmap.pdf" title="UMass Amherst Campus Map">Bartlett 363</a>
	</p>
</section>