<section>
  <h1>Teaching Assistants</h1>
  <p><a href="http://www.umass.edu/philosophy/grad_students/grad-students-main.htm">Justin Dealy</a> <br>
	 Office hours: MW 1.15-2.15<br>
	 Office: <a href="http://www.umass.edu/visitorsctr/downloads/campusmap.pdf" title="UMass Amherst Campus Map">Bartlett 351</a>
	</p>
  <p><a href="http://www.umass.edu/philosophy/grad_students/grad-students-main.htm">Robert Gruber</a> <br>
	 Office hours: M 1:15-3:35 <br>
	 Office: <a href="http://www.umass.edu/visitorsctr/downloads/campusmap.pdf" title="UMass Amherst Campus Map">Bartlett 368</a>
	</p>
	<p><a href="http://www.umass.edu/philosophy/grad_students/grad-students-main.htm">Tricia Magalotti</a> <br>
	 Office hours: TBD <br>
	 Office: <a href="http://www.umass.edu/visitorsctr/downloads/campusmap.pdf" title="UMass Amherst Campus Map">Bartlett 3XX</a>
	</p>
</section>